/*-- universal--*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

html,
body {
    overflow-x: hidden;
    background-color: #E5E5E5;
}

/*--/--*/

/*-- Nav--*/

nav {
    text-align: center;
    margin: 0 auto;
    background-color: #2a2a2a;
}

nav li {
    display: inline-block;
    text-align: center;
    width: 15%;
    padding: 10px;
}

nav li a {
    color: #000;
    font-size: 210%;
    font-weight: bolder;
    color: #e3e3e3;
}

nav li a:hover {
    color: #7E8AA8;
    text-decoration: none;
    transition: all .15s ease-in-out;
}

/*--/--*/

/*--banner--*/

.banner {
    margin: 0;
    padding: 0;
    background: url(../images/The_Monkees.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 70vh;
}

/*--/--*/

/*-- we are--*/

.the-monkees h1 {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    color: #e3e3e3;
    font-size: 500%;
    background-color: #2a2a2a;
    word-spacing: 5px;
}

/*--/--*/

/*-- about--*/

.about {
    background-color: #fff;
    height: 50vh;
    overflow: hidden;
}

.about-wrapper {
    width: 75%;
    margin: 0 auto;
    text-align: center
}

.about header h2 {
    font-size: 200%;
    font-weight: bolder;
    color: #000;
    padding: 10px;
}

.about header hr {
    border-top: solid #EFD5C1 2px;
    width: 30%;
    margin: 0 auto;
    padding: 20px;
}

.about main p {
    padding: 13px;
    font-size: 150%;
}

/*--/--*/

/*-- meet the band--*/

.meet {
    text-align: center;
    background-color: #EFD5C1;
}

.meet header h3 {
    font-size: 200%;
    font-weight: bolder;
    color: #000;
    padding: 10px;
}

.meet header hr {
    border-top: solid white 2px;
    width: 30%;
    margin: 0 auto;
    padding: 20px;
}
 .band-members {
     width: 90%;
     margin: 0 auto;
 }
.member-info {
    padding: 50px;
}

/*--/--*/
